* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility */

body {
    font-family: 'Nunito', sans-serif;
}

.text-primary {
    color: #F177B0;
}

.bg-footer {
    color: #F3FFEF;
    background: #F177B0;
}

.text-primary2 {
    color: #DBEFBC;
}

.bg-primary {
    background: #DBEFBC;
}

.bg-light {
    background: #F3FFEF;
    color: #F79D9D;
}

.bg-dark {
    background: #F79D9D;
    color: #F3FFEF;
}

p {
    margin: 0.75rem 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2.5rem 0;
}

.py-3 {
    padding: 3.5rem 0;
}

.p-1 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2.5rem;
}

.p-3 {
    padding: 3.5rem;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #F177B0;
    background: #F3FFEF;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    color: #F79D9D;
    background: #DBEFBC;
}

.btn-dark {
    display: inline-block;
    color: #F3FFEF;
    background: #F177B0;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-dark:hover {
    color: #DBEFBC;
    background: #F79D9D;
}

/* Navbar */

#navbar {
    background: #DBEFBC;
    color: #F177B0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#logo {
    font-size: larger;
}

#navbar a {
    color: #F177B0;
    text-decoration: none;
    font-weight: bold;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #F3FFEF;
    color: #F79D9D;
    border-radius: 5px;
}

/* Showcase */

#showcase {
    background: #333 url("../img/orange_tabby.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #F79D9D;
    font-weight: bold;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.22);
}

.source {
    color: #F79D9D;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    margin: 3px;
}

.source a {
    color: #F79D9D;
}

/* About */

#about .items {
    display: flex;
    padding: 1rem;
    color: #F79D9D;
    font-weight: bold;
}

#about .item i {
    color: white;
}

#about .items .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
}

#about .items .item i {
    background-color: #F177B0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

/* Adopt */

#adopt {
    display: flex;
}

#adopt div {
    flex: 1;
}

#adopt .adopt-img {
    background: url("../img/cat_love.jpg") no-repeat center center/cover;
}

#images .items {
    display: flex;
    justify-content: space-between;
}

#images .items img {
    display: block;
    margin: auto;
    width: 80%;
}

#contact {
    display: flex;
}

#contact div {
    flex: 2;
}

#contact h3 {
    margin-top: 3rem;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
}